@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');
*{padding: 0;margin: 0;}
a{text-decoration: none}
ul,li{list-style: none;}
header>p{
    border-bottom: 1px solid #4d5f68;
    text-align: center;
    font-size: 35px;
   color:#4d5f68; 
   font-weight: bold;
    font-family: 'Song Myung', serif;
}
section>h3{
    margin-top: 100px;
    margin-left: 20px;
    color: #4d5f68;
}
header>p>img{
    width: 2%;
    height: 2%;
}